[Desktop Entry]
Version=1.0
Name=JGrasp
Comment=JGrasp IDE for Java
Categories=Development;
Exec={{ jgrasp.install_path }}/bin/jgrasp
Icon={{ jgrasp.install_path }}/data/gric48.png
Terminal=false
Type=Application
