[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=JGrasp
Comment=JGrasp IDE for Java
Categories=Application;Development;
Exec=/opt/jgrasp/bin/jgrasp
Icon=/opt/jgrasp/data/gric48.png
Terminal=false
Type=Application
