---
# tasks file for eclipse
- name: Remove Mint Eclipse
  apt:
    name: '{{ eclipse_remove_mint }}'
    state: absent
- name: Check Eclipse
  stat:
    path: '{{ eclipse.zip }}'
  register: st
- block:
    - name: Fetch Eclipse bundle
      get_url:
        url: '{{ eclipse.url }}'
        dest: '{{ eclipse.zip }}'
        checksum: 'sha1:{{ eclipse.hash }}'
        timeout: 30
        force: yes
      register: url_output
      ignore_errors: true
    - name: Fetch Eclipse bundle from backup server
      get_url:
        url: '{{ eclipse.url_backup }}'
        dest: '{{ eclipse.zip }}'
        checksum: 'sha1:{{ eclipse.hash }}'
        timeout: 30
        force: yes
      when: url_output.failed
    - name: Remove old Eclipse directory
      file:
        path: '{{ eclipse.install_path }}'
        state: absent
    - name: Unpack Eclipse bundle
      unarchive:
        dest: '{{ global_base_path }}'
        src: '{{ eclipse.zip }}'
        owner: root
        group: root
        mode: "0755"
  when: st.stat.checksum|default("") != eclipse.hash
- name: Install checkstyle plugin
  command: >
    {{ eclipse.install_path }}/eclipse
    -nosplash
    -application org.eclipse.equinox.p2.director
    -repository http://eclipse-cs.sourceforge.net/update/
    -installIU net.sf.eclipsecs.feature.group
    -destination {{ eclipse.install_path }}
  args:
    creates: '{{ eclipse.install_path }}/plugins/net.sf.eclipsecs.checkstyle*'
- name: Install Eclipse desktop icon
  template:
    src: eclipse.desktop.j2
    dest: /usr/local/share/applications/eclipse.desktop
    mode: "0644"
  notify:
    - Update desktop menu
