---
extends: default

rules:
  braces:
    min-spaces-inside: 1
    max-spaces-inside: 1
  line-length: disable
  truthy:                                                                       
    allowed-values: ["yes", "no", "true", "false"]
