[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Aptana
Comment=Aptana web development studio
Categories=Application;Development;
Exec='{{ aptana.install_path }}/AptanaStudio3'
Icon='{{ aptana.install_path }}/icon.xpm'
Terminal=false
Type=Application
