[Desktop Entry]
Type=Application
Version=1.0
Name=JMU CS VM Configuration
Comment=Update and configure courses
Exec={{ common_uug_ansible_wrapper }}
Icon={{ common_tux_icon_name }}
Categories=System;
StartupWMClass=uug_ansible_wrapper.py
