<?xml version="1.0" encoding="UTF-8"?>
<FileZilla3>
    <Settings>
    </Settings>
    <Servers>
        <Server>
            <Host>stu.cs.jmu.edu</Host>
            <Port>22</Port>
            <Protocol>1</Protocol>
            <Type>0</Type>
            <User>{{ item.user }}</User>
            <Logontype>2</Logontype>
            <TimezoneOffset>0</TimezoneOffset>
            <PasvMode>MODE_DEFAULT</PasvMode>
            <MaximumMultipleConnections>0</MaximumMultipleConnections>
            <EncodingType>Auto</EncodingType>
            <BypassProxy>0</BypassProxy>
            JMU CS Student server
        </Server>
    </Servers>
</FileZilla3>
