[Desktop Entry]
Name=Install USB Controllers Instructions
Type=Link
URL=https://jmunixusers.github.io/presentations/vm/virtualbox-extension-pack.html
Icon=text-html

