---
# tasks file for oem
- name: Remove unneeded stock packages
  apt: name={{ item }} state=absent purge=yes
  with_items: '{{ packages_to_remove }}'
- name: Remove unused dependencies
  apt:
      # A name must be specified in Ansible 2.1.1.0 or you get a cryptic error
      # message when running the playbook. This will not remove the curl package.
      # It was chosen arbitrarily just to allow this playbook to run
      name: curl
      autoremove: yes
- name: Install default desktop background package
  apt:
      name: mint-artwork-gnome
      state: latest
- name: Upgrade all installed packages
  apt:
      upgrade: safe
- name: Clean the apt database
  command: apt-get clean
  # This will always report as changed otherwise
  changed_when: False
  args:
    warn: no
- name: Ensure skeleton Desktop directory exists
  file:
      path: /etc/skel/Desktop
      state: directory
      mode: 0750
- name: Copy welcome shortcut to skeleton desktop directory
  copy:
      src: welcome-to-vm.desktop
      dest: /etc/skel/Desktop/welcome-to-vm.desktop
      mode: 0644
- name: Validate missing USB 2/3 controllers
  shell: lspci | grep -i -e EHCI -e xHCI
  register: lspci_output
  failed_when: lspci_output.rc == 0
  changed_when: False
