[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Eclipse
Comment=Eclipse IDE for Java
Categories=Application;Development;
Exec={{ eclipse.install_path }}/eclipse
Icon={{ eclipse.install_path }}/icon.xpm
Terminal=false
Type=Application
