[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Eclipse
Comment=Eclipse IDE for Java
Categories=Application;Development;
Exec=/opt/eclipse/eclipse
Icon=/opt/eclipse/icon.xpm
Terminal=false
Type=Application
