[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=DrJava
Comment=DrJava IDE for Java
Categories=Application;Development;
Exec={{ drjava.install_path }}/drjava.sh
Icon={{ drjava.install_path }}/drjava.ico
Terminal=false
Type=Application
