[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=DrJava
Comment=DrJava IDE for Java
Categories=Application;Development;
Exec=/opt/drjava/drjava.sh
Icon=/opt/drjava/drjava.ico
Terminal=false
Type=Application
