---
# tasks file for common
- name: Create opt directory
  file:
    path: /opt/
    state: directory
- name: Create local applications directory
  file:
    path: /usr/local/share/applications/
    state: directory
- name: Check Ubuntu release
  set_fact:
    ubuntu_release: "{{ lookup('ini', 'UBUNTU_CODENAME type=properties file=/etc/os-release') }}"
- name: Set Ubuntu mirrors
  template:
    src: ubuntu.j2
    dest: /etc/apt/sources.list
    owner: root
    group: root
    mode: 0664
  when: ansible_distribution == "Ubuntu"
- name: Set Linux Mint mirrors
  template:
    src: mint.j2
    dest: /etc/apt/sources.list.d/official-package-repositories.list
    owner: root
    group: root
    mode: 0644
  when: ansible_distribution == "Linuxmint"
- name: Refresh apt cache
  apt:
    update_cache: yes
  changed_when: False
- name: Get users
  getent:
    database: passwd
- name: Build real user list
  set_fact:
    real_users: >-
      {{ real_users|default([]) +
      [ {'user': item.key, 'homedir': item.value.4,
      'uid': item.value.1, 'gid': item.value.2 } ] }}
  with_dict: "{{ getent_passwd }}"
  when:
    - item.value.4 is match ("^/home/")
    - item.value.5 != "/bin/false"
- name: Upgrade installed software
  apt:
      upgrade: safe
- name: Install required dependencies
  apt: name={{ item }} state=latest
  with_items:
    - default-jdk
    - libnotify-bin
    - openjdk-8-jdk
    - openjdk-8-source
    - unzip    
    - vim
    - vim-gnome    
    - zenity
- name: Touch VM profile
  copy:
    src: csvmprofile
    dest: '{{ global_profile_path }}'
    mode: 0644
    owner: root
    group: root
    # prevent overwriting
    force: no
# dest becomes path in Ansible 2.3+
- name: Add profile to user bashrc
  lineinfile:
    dest: '{{ item.homedir }}/.bashrc'
    line: "source {{ global_profile_path }}"
    state: present
    insertafter: EOF
  with_items: "{{ real_users }}"
