---
name: Update ISOs
on:
  schedule:
    - cron: '0 9 * * *'
  workflow_dispatch:
env:
  UBUNTU_RELEASE: jammy
jobs:
  update-ubuntu:
    if: github.repository == 'jmunixusers/cs-vm-build'
    name: Update Ubuntu ISO file name
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          sudo apt-get install -q -y jq
      - name: Set latest ISO name
        id: iso
        run: ./scripts/update-ubuntu-release
      - name: Open a pull request
        uses: peter-evans/create-pull-request@v5
        with:
          commit-message: >-
            Update to Ubuntu ${{ steps.iso.outputs.version }}
          title: Update to Ubuntu ${{ steps.iso.outputs.version }}
          body: |
            The latest desktop ISO referenced in ${{ steps.iso.outputs.mirror_url }}/SHA256SUMS
            is `${{ steps.iso.outputs.iso_file }}`.
          branch: ubuntu-update/${{ steps.iso.outputs.version }}
          base: main
