[Desktop Entry]
Type=Application
Version=1.0
Name={{ item.desc }}
Comment=Configure packages and settings for {{ item.desc }}
TryExec=ansible-pull
Exec=gksudo {{ oem_ansible_wrapper }} "{{ item.tags }}"
Icon={{ oem_base_path }}/jmu-tux.svg
Categories=System;ConsoleOnly;
Terminal=true
